
{{ product.id }}<button id="getOutfitButton">Get Outfit</button>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the button element
    const getOutfitButton = document.getElementById('getOutfitButton');

    // Add click event listener to the button
    getOutfitButton.addEventListener('click', function() {
      // Make the GET request to the /outfit endpoint
      fetch('https://{{ shop.domain }}/apps/outfitplaner-hesam/api/outfit', {
        method: 'GET'
      })
        .then(response => {
          if (response.ok) {
            // Handle successful response (if needed)
            console.log('Outfit retrieved successfully');
          } else {
            // Handle error response (if needed)
            console.error('Failed to retrieve outfit');
          }
        })
        .catch(error => {
          console.error('Error occurred while fetching outfit:', error);
        });
    });
  });

</script>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "javascript": "app.js",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

